!!!
%html
  %head
  %body
    .wrapper
      .chat-side
        .side-header
          .side-header__box test-user
        .groups test-group
      .chat-main
        .group-info test-group
        .chat-comment test-comment
        .form test form

