.wrapper

  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__box
        .main-header__box__name test-group
        .main-header__box__member Member : test-user
      .main-header__edit-btn
        = link_to edit_group_path(current_user), class: "edit_btn" do
          Edit
    .main-body
      .main-body__box
        .main-body__box__message
          .main-body__box__message__user-name test-user
          .main-body__box__message__comment test-comment
        .main-body__box__date 2019/02/13(wed) 17:50:42
    %form.form-box
      .input-box
        %input.input-box__text.fa-stack{type: "text", placeholder: "type a message"}
        %ul.input-box__image-icon
          %label
            %i.fa.fa-stack-1x.fa-picture-o
              %input.input-box__image-icon__file{type: "file"}
      .send-btn Send

