.notification {
  .notice {
    background-color: $blue;
    color: $flash_white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $flash_white;
    text-align: center;
  }
}
