.chat-side {
  width: 300px;
  float: left;
  color: $white;

  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &__box {

      &__name {
        font-size:16px;
        font-weight: bold;
      }
    }

    &__icons {
        display: flex;

      .list {
      }
    }
  }
}
